venv
todo
wandb
unsloth_compiled_cache
grpo_trainer_lora_model
grpo_saved_lora
grpo_saved_lora_model
/Qwen-*
merged_models
ff.txt

data/dataset_task.txt
data/dataset.csv
data/task_names.txt
data/task_names_preprocessed.txt
data/train-00000-of-00001-8b4da49264116bbf.parquet
data/train.jsonl